<div class="container p-4">
  <div class="row mb-5">
    <div class="col-lg-12 text-center feature-header">
      <h2 class="feature-heading mb-4">Subscとは</h2>
      <h4 class="feature-subheading mt-4">あなたが利用しているサブスクリプションを見える化するサービス<br>「サブスクリプション」=「定額制サービス」</h4>
    </div>
  </div>
  <div class="row text-center feature-content">
    <div class="col-lg-12">
      <h2 class="feature-heading my-3">Features</h2>
    </div>
    <div class="row p-3 mt-3">
      <div class="col-lg-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
        </span>
        <div class="feature-box">
          <h3 class="feature-subtitle"><i class="fa fa-check"></i> record</h3>
          <p class="feature-text text-left">
            ● 利用しているサブスクリプションを記録できる<br><br>
            ● Subscがサブスクリプションの情報を事前に準備している<br><br>
            ● カテゴリー毎に分かれているので、探しやすい
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
        </span>
        <div class="feature-box">
          <h3 class="feature-subtitle"><i class="fa fa-check"></i> visible</h3>
          <p class="feature-text text-left">
            ● 毎月の利用料金や支払日が明確になる<br><br>
            ● 使っていないのに払っているサービスが明確になる<br><br>
            ● 投資すべきサービスに投資できる
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-paper-plane fa-stack-1x fa-inverse"></i>
        </span>
        <div class="feature-box">
          <h3 class="feature-subtitle"><i class="fa fa-check"></i> notice</h3>
          <p class="feature-text text-left">
            ● 利用料金や支払日を毎月自動でお知らせしてくれる<br><br>
            ● 支払日の前に不要なサービスに気づける<br><br>
            ● 支払い頻度の設定も簡単にできる
          </p>
        </div>
      </div>
    </div>
  </div>
</div>