<div class="container p-4">
  <div class="row mb-5">
    <div class="col-lg-12 text-center feature-header">
      <h2 class="feature-heading">タイトル</h2>
      <h4 class="feature-subheading">テキストテキストテキストテキストテキストテキストテキスト</h4>
    </div>
  </div>
  <div class="row text-center feature-content">
    <div class="col-lg-4">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
      </span>
      <h3 class="feature-subtitle">record</h3>
      <p class="feature-text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
    </div>
    <div class="col-lg-4">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
      </span>
      <h3 class="feature-subtitle">visible</h3>
      <p class="feature-text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
    </div>
    <div class="col-lg-4">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-paper-plane fa-stack-1x fa-inverse"></i>
      </span>
      <h3 class="feature-subtitle">notice</h3>
      <p class="feature-text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
    </div>
  </div>
</div>