<div class="container pt-5">
  <div class="main-content">
    <h1 class="display-4">見出し!</h1>
    <p class="lead">本文はこちら本文はこちら本文はこちら本文はこちら本文はこちら本文はこちら本文はこちら本文はこちら本文はこちら本文はこちら本文はこちら本文はこちら</p>
    <hr class="my-4">
    <p>本文はこちら本文はこちら本文はこちら本文はこちら本文はこちら本文はこちら本文はこちら本文はこちら本文はこちら本文はこちら</p>
    <%= link_to "ログイン", new_user_session_path, class: "btn btn-info btn-lg" %>
    <%= link_to "新規登録", new_user_registration_path, class: "btn btn-danger btn-lg" %>
    <%= link_to "サービス一覧", services_path, class: "btn btn-success btn-lg" %>
  </div><!-- /.jumbotron -->
</div>