<div class="container pt-5">
  <div class="row">
    <div class="col-lg-7">
      <div class="main-content">
        <h1 class="display-4">見出し!</h1>
        <p class="lead">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
        <hr class="my-4">
        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      </div>
    </div>
    <% unless current_user %>
      <div class="top-menu col-lg-5">
        <div class="row">
          <ul class="list-inline">
            <li>
              <%= link_to "ログイン", new_user_session_path, class: "btn btn-signin-top btn-lg mb-5" %>
            </li>
            <li>
              <%= link_to "新規登録", new_user_registration_path, class: "btn btn-lg btn-signup-top" %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>