<div class="container p-4">
  <div class="row mb-5">
    <div class="col-lg-12 text-center step-header">
      <h2 class="step-heading">HOW TO USE</h2>
    </div>
  </div>
  <div class="row text-center step-content ml-5">
    <div class="col-lg-3 step-box">
      <div class="step-upper">
        <i class="fa fa-search fa-stack-2x"></i>
        <span class="step-number">01</span>
      </div>
      <div class="step-lower">
        <h3 class="step-subtitle">Search</h3>
        <p class="step-text text-left">ユーザー登録したら、まずはあなたが利用している<span>サブスクリプションを探してみよう</span>。Subscが用意しているサブスクリプションになくてもオリジナルで作成もできます。</p>
      </div>
    </div>
    <div class="col-lg-1">
      <i class="fa fa-chevron-right fa-stack-2x"></i>
    </div>
    <div class="col-lg-3 step-box">
      <div class="step-upper">
        <i class="fa fa-plus fa-stack-2x"></i>
        <span class="step-number">02</span>
      </div>
      <div class="step-lower">
        <h3 class="step-subtitle">Add</h3>
        <p class="step-text text-left">探しているサブスクリプションが見つかったら、追加ボタンを押してみよう。追加するとマイページにどんどん追加されていきます。不要になったり間違えてたとしてもいつでも一覧から外せるので安心。</p>
      </div>
    </div>
    <div class="col-lg-1">
      <i class="fa fa-chevron-right fa-stack-2x"></i>
    </div>
    <div class="col-lg-3 step-box">
      <div class="step-upper">
        <i class="fa fa-file fa-stack-2x"></i>
        <span class="step-number">03</span>
      </div>
      <div class="step-lower">
        <h3 class="step-subtitle">Form</h3>
        <p class="step-text text-left">追加ボタンを押したら、毎月の利用料金を入力しよう。金額がわからない場合でも大丈夫。そのまま登録して、あとで入力もできます。利用料金以外にも支払日や備考を入力できます。</p>
      </div>
    </div>
  </div>
</div>