<div class="container p-4">
  <div class="row mb-5">
    <div class="col-lg-12 text-center feature-header">
      <h2 class="feature-heading">HOW TO USE</h2>
    </div>
  </div>
  <div class="row text-center feature-content ml-5">
    <div class="col-lg-3">
      <h2 class="step-title">STEP①</h2>
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-search fa-stack-1x fa-inverse"></i>
      </span>
      <h3 class="feature-subtitle">Search</h3>
      <p class="feature-text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
    </div>
    <div class="col-lg-1">
      <i class="fa fa-chevron-right fa-stack-2x"></i>
    </div>
    <div class="col-lg-3">
      <h2 class="step-title">STEP②</h2>
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
      </span>
      <h3 class="feature-subtitle">Add</h3>
      <p class="feature-text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
    </div>
    <div class="col-lg-1">
      <i class="fa fa-chevron-right fa-stack-2x"></i>
    </div>
    <div class="col-lg-3">
      <h2 class="step-title">STEP③</h2>
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-wpforms fa-stack-1x fa-inverse"></i>
      </span>
      <h3 class="feature-subtitle">Form</h3>
      <p class="feature-text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
    </div>
  </div>
</div>