<div class="help-page">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="help-title text-center">Welcom to Subsc</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5>まずはサービス一覧ページへ</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5>サービスが見つかったら追加ボタンを押そう</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5>サービスに対して利用料金を入力しよう</h5>
        </div>
      </div>
    </div>
  </div>
</div>