<div class="help-page">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="help-title text-center">Welcom to Subsc</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="help-subtitle">STEP① 利用しているサービスを探そう</h5>
          <p class="help-text"> 
            <%= link_to "サービス一覧ページ", services_path %>
            で利用しているサービスを探してみよう。<br>
            利用しているサービスが見つからない場合は、自分で作成もできます。<br>
            自分で作成したサービスは他のユーザーには見られないので安心です。
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="help-subtitle">STEP② 追加ボタンを押そう</h5>
          <p class="help-text"> 
            各サービスの右下にプラスマークの追加ボタンがあります。<br>
            利用しているサービスが見つかったら、追加ボタンを押してみよう。<br>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="help-subtitle">STEP③ 利用料金を入力しよう</h5>
          <p class="help-text"> 
            追加ボタンを押すと、登録画面に移動します<br>
            画面が表示されたら、利用料金や支払日を入れて登録ボタンを押してください<br>
            もちろん何も変更せず登録ボタンを押して、あとで編集もできます。
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="help-subtitle">STEP④ 合計の利用料金や通知頻度を確認してみよう</h5>
          <p class="help-text"> 
            マイページの左側に合計利用料金や通知頻度が表示されています。<br>
            通知オンの場合は、毎月1日にメールが届きます。正しいメールアドレスかどうか確認してください。<br>
            また、通知頻度を変更できるので、不要であればオフにしてください。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>