<p>お問い合わせがありました。</p>
<p>下記の内容を確認してください。</p>
<br>
----------------------------------------------------------------------
<p><strong>返信先メールアドレス:</strong> <%= @contact.email %><p> 

<p><strong>タイトル:</strong> <%= @contact.title %><p> 

<p><strong>内容</strong><br>
<%= @contact.message %></p>
----------------------------------------------------------------------
