/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";


// ======================================================================
// 共通項目
// ======================================================================
.container {
  min-height: 100vh;
}

// ======================================================================
// ボタン
// ======================================================================
.btn {
  border-radius: 0.70rem;
}

.btn-primary {
  background-color: #51cbce;
  border: none;
}

.btn-primary:hover {
  background-color: #25b2b4;
  border: none;
}

.btn-info {
  background-color: #51bcda;
  border: none;
}

.btn-info:hover {
  background-color: #109092;
  border: none;
}

.btn-success {
  background-color: #6bd098;
  border: none;
}

.btn-success:hover {
  background-color: #33a566;
  border: none;
}

.btn-danger {
  background-color: #f5593d;
  border: none;
}

.btn-danger:hover {
  background-color: #dd3c20;
  border: none;
}

.btn-warning {
  background-color: #fbc658;
  border: none;
}

.btn-warning:hover {
  background-color: #e0a020;
  border: none;
}

// ======================================================================
// バッジ
// ======================================================================

.badge {
  border-radius: 0.60rem;
}

.badge-primary {
  background-color: #41cdcf;
  border: none;
}

a.badge-primary:hover {
  background-color: #0ba7aa;
  border: none;
}

// ======================================================================
// ページネーション
// ======================================================================

.page-item a.page-link,
.page-item:last-child .page-link,
.page-item:first-child .page-link {
  width: 40px;
  height: 40px;
  border-radius: 2em;
  margin-right: 5px;
  text-align: center;
  color: #25b2b4;
}

.page-item.active .page-link {
  background-color: #25b2b4;
  border-color: #25b2b4;
  color: #fff;
}