/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import "font-awesome";


// ======================================================================
// 共通項目
// ======================================================================
// theme_color=#50bfa4;
* {
  color: var(--font-color);
  scroll-behavior: smooth;
}

:root {
  --main-color: #57a99a;
  --font-color: #555151;
  --hover-color: #1a9e7d;
  --new-color: #f77754;
}

body {
  background-color: #ecf4f3;
}

i {
  color: #fff;
}

.container {
  // min-height: 100vh;
  // margin-bottom: 50px;
}

a,
input {
  outline: none;
}

a:hover {
  text-decoration: none
}

.big {
  font-size: 1.2em;
  font-weight: 600;
}

.page-box {
  background: rgb(245, 245, 245);
  padding: 3em;
  border-radius: 1em;
  min-height: 50vh;
}

// ======================================================================
// ナビメニュー
// ======================================================================
.nav-brand {
  color: var(--main-color);
  font-size: 1.6em;
  font-weight: 600;
}

.nav-brand:hover {
  color: #19a885;
}

button.navbar-toggler.burger-menu {
  font-size: 1.5em;
  font-weight: 600;
  color: var(--main-color);
  border: none;
  outline: none;
}

button.navbar-toggler.burger-menu:hover {
  color: #29b491;
}

ul.navbar-nav {
  padding-left: 1em;
}

.header .nav-item {
  margin-right: 0.6em;
}

.header .nav-item:last-child {
  margin-right: 0;
}

.header .navbar-nav a.nav-link:hover {
  color: #38a78b;
  font-weight: 600;
}

.header .navbar i.fa-bars {
  color: var(--main-color)
}

// ======================================================================
// カード
// ======================================================================

.card {
  box-shadow: 2px 3px 6px -4px rgb(134, 134, 134),
    3px 3px 8px rgba(255, 255, 255, 0.8) inset;
  border-radius: 0.7em;
}

.card-header:first-child {
  border-radius: calc(0.7rem - 1px) calc(0.7rem - 1px) 0 0;
}

// ======================================================================
// モダル
// ======================================================================
.modal-content {
  border-radius: 0.7em;
}

// ======================================================================
// ポップオーバー
// ======================================================================

.popover {
  background: rgba(114, 114, 114, 0.8);
  border: none;
}

.popover-body {
  font-size: 10px;
  padding: 5px;
  color: #fff;
  border-radius: 0.7em;
  border: none;
}

.popover .arrow:after {
  border-bottom-color: rgba(114, 114, 114, 0.8);
}

// ======================================================================
// ボタン
// ======================================================================
.btn {
  border-radius: 1.5rem;
}

.btn-new {
  background-color: var(--new-color);
  border: none;
  color: #fff;
}

.btn-new:hover {
  background-color: #f1552a;
  border: none;
  color: #fff;
}

.btn-primary {
  background-color: var(--main-color);
  border: none;
}

.btn-primary:hover {
  background-color: #32a789;
  border: none;
}

.btn-info {
  background-color: #3084a9;
  border: none;
}

.btn-info:hover {
  background-color: #076c97;
  border: none;
}

.btn-success {
  background-color: #55a077d3;
  border: none;
}

.btn-success:hover {
  background-color: #55a077;
  border: none;
}

.btn-danger {
  background-color: #d55b3e;
  border: none;
}

.btn-danger:hover {
  background-color: #c94423;
  border: none;
}

.btn-warning {
  background-color: #fbc658;
  border: none;
}

.btn-warning:hover {
  background-color: #e0a020;
  border: none;
}

.btn-signin,
.btn-register {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 2em;
  font-weight: bold;
  color: #FFF;
  background-image: linear-gradient(45deg, var(--main-color) 0%, #6ee0c4 100%);
  transition: .4s;
}

.btn-signin:hover,
.btn-register:hover {
  color: #fff;
  background-image: linear-gradient(45deg, #3c9b83 50%, #51b89e 100%);
}


.btn-google {
  background-color: #e46257;
}

.btn-google span {
  color: #fff;
}

.btn-google span i {
  color: rgb(121, 111, 107);
}

.btn-google:hover {
  color: #fff;
  background-color: #df4537;
}

.btn-delete,
.btn-back {
  border-radius: 2em;
  padding: 0.5em 1em;
  font-size: 0.875rem;
  color: #6c757d;
}

.btn-circle {
  width: 38px;
  height: 38px;
}

.btn-link {
  background-color: #f9b06f;
  color: #fff;
  border: none;
}

.btn-link:hover {
  background-color: #f8933b;
  color: #fff;
  border: none;
}

.btn-user-edit {
  width: 70px;
  height: 38px;
}

// ======================================================================
// バッジ
// ======================================================================

.badge {
  border-radius: 0.60rem;
}

.badge-primary {
  background-color: var(--main-color);
  border: none;
}

a.badge-primary:hover {
  background-color: var(--hover-color);
  border: none;
}

.category-badge {
  color: var(--font-color)
}

// ======================================================================
// ページネーション
// ======================================================================

.page-item a.page-link,
.page-item:last-child .page-link,
.page-item:first-child .page-link {
  width: 40px;
  height: 40px;
  border-radius: 2em;
  margin-right: 5px;
  text-align: center;
  color: var(--main-color);
}

.page-item.active .page-link {
  background-color: var(--main-color);
  border-color: var(--main-color);
  color: #fff;
}

// ======================================================================
// フォーム
// ======================================================================

.csv-text {
  max-width: 100%;
  border-radius: 0 0.7em 0.7em 0;
}

.search-form {
  border-radius: 1.5em;
}

// ======================================================================
// ログインフォーム
// ======================================================================

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 100%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  margin-bottom: 1.3em;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
  padding: 1em;
}

.card-footer {
  text-align: center;
}

.card-footer i.fa-caret-right {
  color: var(--font-color);
  margin: 0 0.3em;
}

.card-footer a {
  color: var(--main-color);
}

.card-footer a:hover {
  color: #239179;
  text-decoration: none;
}

.card-footer .signup-text {
  font-size: 0.8em;
}

.contact-form .card-body {
  padding: 2em 4em 4em 4em;
}

.contact-form .form-label-group input,
.contact-form .form-label-group textarea {
  border-radius: 1em;
}

// ======================================================================
// セレクトボックス
// ======================================================================

.select-box {
  border-radius: 2em;
  width: 100%;
  background: #fff;
  border: 1px solid #e9e9e9;
  height: 3em;
}

.select-box {
  overflow: hidden;
  width: 60%;
  // margin: 0 auto;
  text-align: center;
}

.select-box select {
  width: 80%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}

.select-box select::-ms-expand {
  display: none;
}

.select-box.select-plus {
  position: relative;
  border-radius: 2px;
  border: 1px solid #ced4da;
  border-radius: 2em;
  background: #ffffff;
}

.select-box.select-plus::before {
  position: absolute;
  top: 1.2em;
  right: 1.0em;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 9px solid #7d858b;
  pointer-events: none;
}

.select-box.select-plus select {
  padding: 10px 20px 8px 8px;
  color: #3b3b3b;
}

.label-notifiy {
  line-height: 48px;
}

// ======================================================================
// フレーム
// ======================================================================

.frame-box {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px var(--main-color);
  border-radius: 8px;
}

.frame-box .frame-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #FFF;
  color: var(--main-color);
  font-weight: bold;
}

.frame-box p {
  margin: 0;
  padding: 0;
}

.frame-box h4 {
  text-align: center;
  margin-bottom: 0;
  padding: 0.5em;
}

// ======================================================================
// フラッシュメッセージ
// ======================================================================
.alert {
  margin-bottom: 0;
  border-radius: 0;
  text-align: center;
}

.alert-success {
  color: #fff;
  background-color: #50bfa4;
  border: none;
}

.alert-danger {
  color: #fff;
  background-color: #f77754;
  border: none;
}