.top-body {
  width: 100%;
  min-height: 100vh;
}

.header {
  width: 100%;
  height: 100px;
  background-color: skyblue;
}

.top-image {
  width: 100%;
  height: 100px;
  background-color: tomato;
}

.feature {
  width: 100%;
  height: 100px;
  background-color: yellowgreen;
}

.step {
  width: 100%;
  height: 100px;
  background-color: lime;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: purple;
}