// ======================================================================
// 共通
// ======================================================================

.top-body {
  width: 100%;
  min-height: 100vh;
}

// ======================================================================
// ヘッダー
// ======================================================================

// .header {
//   width: 100%;
//   height: 100px;
//   background-color: skyblue;
// }

// ======================================================================
// メイン
// ======================================================================

.main {
  width: 100%;
  // height: 800px;
  padding: 150px 0 250px;
  background-color: #50bfa3;
}

.main-content {
  background-color: #50bfa3;
  // background-image: url("main.png");
  background-size: cover;
  background-position: center 60%;
}

// ======================================================================
// フィーチャー
// ======================================================================

.feature {
  width: 100%;
  padding: 155px 0;
  background-color: rgb(231, 231, 231);
}

.feature .fa-circle {
  color: var(--main-color);
}

.feature .fa-stack-1x {
  color: #fff;
}

// ======================================================================
// ステップ
// ======================================================================

.step {
  width: 100%;
  height: 400px;
  background-color: lime;
}

// ======================================================================
// フッター
// ======================================================================

.footer {
  width: 100%;
  height: 100px;
  background-color: purple;
}