// ======================================================================
// 共通
// ======================================================================

.top-body {
  width: 100%;
  min-height: 100vh;
}

// ======================================================================
// ヘッダー
// ======================================================================

.navbar .dropdown-menu {
  margin-top: 10px;
}

// ======================================================================
// メイン
// ======================================================================

.main {
  width: 100%;
  // height: 800px;
  padding: 150px 0 250px;
  background-color: #50bfa3;
}

.main-content {
  background-color: #50bfa3;
  // background-image: url("main.png");
  background-size: cover;
  background-position: center 60%;
}

// ======================================================================
// フィーチャー
// ======================================================================

.feature {
  width: 100%;
  padding: 155px 0;
  background-color: rgb(231, 231, 231);
}

.feature .fa-circle {
  color: var(--main-color);
}

.feature .fa-stack-1x {
  color: #fff;
}

// ======================================================================
// ステップ
// ======================================================================

.step {
  width: 100%;
  padding: 155px 0;
  background-color: var(--main-color);
}

.fa-chevron-right {
  padding-top: 100px;
}

// ======================================================================
// フッター
// ======================================================================

.footer {
  width: 100%;
  // height: 100px;
  background-color: purple;
  position: relative;
  line-height: 100px
}

.footer .list-inline li {
  margin-right: 25px;
}

.footer .list-inline li:last-child {
  margin-right: 0;
}

.footer .list-inline li a:hover {
  border-bottom: 3px solid #50bfa4;
  padding-bottom: 5px;
}

.footer .list-inline-item a,
#copyright {
  color: rgb(102, 102, 102);
}

.footer .list-inline-item a:hover {
  color: rgb(43, 43, 43);
}

.footer .fa-2x {
  font-size: 1.5em;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.fa-chevron-circle-up {
  color: #169172;
}