<h3>パスワード再発行に関する手続きのご案内</h3>

<p><%= @resource.email %></p>

<p>パスワードの再発行が要求されました。以下のリンクよりパスワードの変更ができます。</p>

<p><%= link_to 'パスワード再発行リンク', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし、こちらの再発行の要求をしていない場合は、このメールを無視してください。</p>
<p>(要求した方が謝ってメールアドレスを入力した可能性もあります)</p>
<p>また、上記のリンクにアクセスして新しいパスワードを作成するまではパスワードは変更されません。</p>
